.chatJanela{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.chatJanela__header{
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.chatJanela__headerinfo{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.chatJanela__avatar{
    margin-left: 15px;
    margin-right: 15px;
}

.chatJanela__nome{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    white-space: nowrap;
}

.chatJanela__botoes{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chatJanela__botao{
    color: #3B4A54;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all ease 0.3s;
}

.chatJanela__body{
    flex: 1;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}

.chatJanela__footer{
    height: 62px;
    display: flex;
    align-items: center;
}

.chatJanela__pre{
    margin: 0 15px;
    display: flex;
}

.chatJanela__inputarea{
    flex: 1;
}

.chatJanela__input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #FFF;
    border-radius: 20px;
    font-size: 16px;
    color: #4A4A4A;
    padding-left: 15px;
}

.chatJanela__pos{
    margin: 0 15px;
    display: flex;
}

.chatJanela__emojiarea{
    overflow-y: hidden;
    transition: all ease 0.3s;
}

aside.EmojiPickerReact{
    background: none;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label{
    background: none;
}

.EmojiPickerReact .Flex.FlexRow {
    display: none;
  }